@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-progress {
    animation: progress 5s linear infinite;
  }
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
